[submodule "pegasus_bringup"]
	path = pegasus_bringup
	url = git@github.com:PegasusDrone/pegasus_bringup.git
[submodule "pegasus_description"]
	path = pegasus_description
	url = git@github.com:PegasusDrone/pegasus_description.git
[submodule "pegasus_msgs"]
	path = pegasus_msgs
	url = git@github.com:PegasusDrone/pegasus_msgs.git
